section{
    display:flex;
    justify-content:center;
    gap:2em;
}
h1{
    font-size:xx-large;
    text-align:center;
    text-transform:uppercase;
     
}
div{
   border:2px solid black;
   max-width:350px;
   padding:20px;
   background-color:antiquewhite;
   box-shadow:15px -9px 10px rgb(173, 170, 170)
}
#image1{
    border-radius:50%;
    height:280px;
    width:270px;
    border:5px solid gainsboro;
}
#image2{
    border-radius:50%;
    height:260px;
    width:270px;
    border:5px solid gainsboro;

}
#image3{
    border-radius:50%;
    height:260px;
    width:250px;
    border:5px solid gainsboro;

}
figcaption{
    text-align:center;
    font-size:1.7em;
    font-weight:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span{
    display:block;
    width:fit-content;
    margin:0 auto;
    justify-content:center;
    font-weight:bold;

}
P{
    text-transform:capitalize;
    text-align:center;
}