body{
    background-color:aquamarine
}
fieldset{
    border:2px solid black;
    padding:10px;
}
legend{
    font-weight:bold;
    padding:0 5px;
    font-size:1.25em;
    text-decoration:wavy underline;
}

label,textarea,select{
    display:block;
    margin-top:10px;
    font-weight:bold;
    color:brown;
    width:100%

}

input{
    display:block;
    margin-top:5px;
    width:100%
}
button{
margin-top:10px;
    font-weight:bold;
    background-color:lightgrey;
}

.submit{
    display:flex;
    justify-content:space-around;
}
    
    
