fieldset{
    border:2px solid black;
    padding:10px;
}
legend{
    font-weight:bold;
    padding:0 5px;
    font-size:1.25em;
}

label,textarea,select,button{
    display:block;
    margin-top:10px;
    font-weight:bold;

}