body{
    border: 6px solid black;
    padding: 10px;
}
hr{
    border: 2px solid black;
}
#search{
    background-color:aqua;
    border-radius:4px;
    font-weight:bold;
    padding:1px 5px;
}
img{
    border-radius:10px;
}

#search:hover{
    background-color:rgb(182, 182, 210);
}
.herosection{
    max-width:50%
}
figcaption{
    font-size:1.3em;
    font-weight:bold;
    text-align:center;
    
}
a{
    text-decoration:none;
    color:black;

}
a:hover{
    text-decoration:underline;
    background-color:lightgray;
}

fieldset{
    border:3px solid gray;
    padding:10px;
    border-radius:5px;
}
legend{
    font-size:1.5em;
    font-weight:bold;
    
}