caption{
    font-weight:bold;
    font-size:x-large;
    border:3px solid gray;
    padding:10px;
    background-color:aliceblue;
    text-shadow:3px 6px 3px gray;
}
table{
    border-collapse:collapse;
    width:100%;
    
}
td,th{
    border:2px solid black;
    text-align:center;
    font-weight:100px;
    background-color:rgb(231, 226, 226);
    color:saddlebrown;
    text-transform:capitalize;
    padding:10px;
}
