table{
    border-collapse:collapse;
    width:100%;
    
}
td,th{
    border:2px solid black;
    text-align:center;
    font-weight:100px;
    background-color:rgb(231, 226, 226);
    color:saddlebrown;
    text-transform:capitalize;
    
}
